      @import url(../fonts/Satoshi/satoshi.css);
      @import url(../fonts/Syne/stylesheet.css);

      @keyframes marquee {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-100%);
        }
      }

      .marqee {
        animation: marquee 15s cubic-bezier(0.19, 0.5, 0.22, 0.5) infinite both;
      }

      .underline-animation {
        position: relative;
      }

      .underline-animation::after {
        content: ""; /* Required for pseudo-elements */
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0.06rem; 
        width: 0;
        background-color: #1f2937;
        transition: all 0.3s;
      }

      .underline-animation:hover::after {
        width: 100%;
      }
    