* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  main {
    padding: 1rem;
    padding-top: 5rem;
  }
  
  .view-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .view-1 .top h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .view-1 .top span {
    opacity: 0.6;
  }
  .view-1 .top p {
    padding: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  .view-1 .bottom {
    width:80% ;
    aspect-ratio: 4/5;
    /* background: #e6bbbb4a; */
    display: grid;
    grid-template-areas: 
        "a a b b"
        "a a b b"
        "a a b b" 
        "a a b b" 
        "a a b b" 
        "a a c c" 
        "a a c c" 
        "a a c c";
        gap: 10px;
  }
  .view-1 .bottom img {
    display: block;
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }
  .view-1 .bottom .image-a {
    grid-area: a;

  }
  .view-1 .bottom .image-b {
    grid-area: b;

  }
  .view-1 .bottom .image-c {
    grid-area: c;

  }
  .img-wraper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f29898;
  }